// Specific CSS for your home-page
.button2{
  display:inline-block;
  padding: 8px 24px;
  border:0.16em solid #2c2c2c;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:lighter;
  color:#2c2c2c;
  text-align:center;
  border-radius: 20px;
  transition: all 0.15s;
  }
  .button2:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
  }
  a.button2:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }
  @media all and (max-width:30em){
  a.button2{
    display:block;
    margin:0.4em auto;
    }
  }

.hauteur {
  height: 100vh;
}
