<h1 class="text-center mt-3">VOICI LES COPAINS</h1>

<div class="d-flex flex-row align-items-center">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
  <div>
    <h3>Laura Wag</h3>
    <p>68 Avenue Parmeniter</p>
  </div>
</div>
