.index {
  .btn-wrapper {gap: 0.2rem}
  .btn-ghost {
    width: calc(50% - 0.1rem);
    max-width: 200px;
  }
}

.btn-ghost {
  background-color: #deb773;
  color: #ffffff;
  padding: 6px 22px;
  border-radius: 50px;
  font-weight: lighter;
  transition: background 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.2;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#ffffff, #ffffff);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#ffffff, #ffffff);
  color: white;
}
