.index {
  .btn-wrapper {gap: 0.2rem}
  .btn-ghost {
    width: calc(50% - 0.1rem);
    max-width: 200px;
  }
}

.btn-ghost {
  background-color:$darkblue;
  color: #ffffff;
  padding: 6px 22px;
  border-radius: 50px;
  font-weight: lighter;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.2;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background:$darkblue;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#ffffff, #ffffff);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#ffffff, #ffffff);
  color: white;
}


.choose-btn.active {
  display: none;
}

.validate-bar-btn {
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity ease 0.6s;
  border: none;

  &.active {
    opacity: 1;
    width: 20%;
    height: fit-content;
    color: white;
    border: none;
  }
}

.btn-secondary {
  background-color: $grayback;
  text-decoration: none;
  color: #ffffff;
  padding: 6px 22px;
  border-radius: 20px;
  font-weight: lighter;
  transition: background 0.3s ease;
}

.share-btn {
  background-color:$orange;
  color: #ffffff;
  padding: 20px 25px;
  border-radius: 50px;
  font-weight: lighter;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-minishare {
  color: #ffffff;
  width: fit-content;
  // padding: 6px 22px;
  // border-radius: 50px;
  font-weight: lighter;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-bar {
  background-color:$orange;
  color: #ffffff;
  padding: 4px 18px;
  border-radius: 50px;
  font-weight: lighter;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-bar:hover {
  opacity: 0.2;
}
